<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Tasks</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<h1>Delete Tasks</h1>


<div class="action-buttons">
    <a href="/" class="home-btn">Home</a>
</div>

<table>
    <thead>
    <tr>
        <th>Pinned</th>
        <th>Progress</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Tags</th>
        <th>Action</th> <!-- Added a new column for "Delete" action -->
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>
                {% if task.pinned %}
                    <img src="/public/img/pin.png" alt="Pinned" width="30" height="30">
                {% endif %}
            </td>
            <td>{{ task.progress }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.priority }}</td>
            <td>
                {% for tag in task.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </td>
            <td>
                <!-- Delete action -->
                <a href="{{ url_for('delete_task', task_id=task._id) }}" class="delete-btn">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
